<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="/css/styles_sessions_new.css">
  </head>
  <body>
  <div class="container">

    <header class="header">
      <div class="left">
      <a href="/travel">
        <img src='../../images/travel.jpg'>
        <span>Resfeber</span>
      </a>
      </div>
      <div class="right">
      <% if (!currentUser) {%>
        <p>Resfeber (n.) Origin: Swedish. Definition: The restless race of the traveller's heart before the journey begins, when anxiety and anticipation are tangled together.</p>
      <% } else {%>
        <p style="font-size: 4rem; display: inline-block; margin: 0 auto;">Welcome, <%= currentUser.username %></p>
      <% } %>
      </div>
    </header>

    <div class="wrapper">
      <h1>Edit place </h1>

      <form action="/travel/<%= place.id%>?_method=PUT" method="POST">
        <div class="row">
          <div class="four columns">
            <label for="city">City</label>
            <input type="text" name="city" id="city" value="<%= place.city%>" class="u-full-width" />
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="country">Country</label>
            <input type="text" name="country" id="country" value="<%= place.country%>" class="u-full-width" />
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="imgURL">Image URL</label>
            <input type="url" name="imgURL" id="imgURL" value="<%= place.imgURL%>" class="u-full-width" />
          </div>
        </div>

        <div class="row">
          <div class="four columns">
            <label for="comments">Comments</label>
            <input type="text" name="comments" id="comments" value="<%= place.comments%>" class="u-full-width" />
          </div>
        </div>

        <button class="button-primary" type="submit" value="Update place">Update place</button>

      </form>
    </div>
  </body>
  </body>
</html>
