<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="/css/styles_show.css">
  </head>
  <body>

  <div class="container">

    <% include ./partials/header.ejs %>


    <nav>
      <% if (currentUser) {%>

        <a href="/travel"><i class="fa fa-arrow-circle-left"></i></a>
        <form action="/travel/sessions/delete?_method=DELETE" method="POST">
          <input type="submit" value="Log out" class="logout" />
        </form>
      <% } else {%>
        <a href="/travel/users/new">Create New User</a>
        <a href="/travel/sessions/new">Log In</a>
      <% } %>
    </nav>


    <%# <h1>Show page</h1> %>
    <h1><%= place.city%></h1>


    <img class="place" src=<%= place.imgURL%> >
      <div class="edit_delete">
        <a href="/travel/<%= place.id%>/edit" class="edit">Edit</a>
        <form action="/travel/<%=place.id%>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE"class="input"/>
        </form>
      </div>
    <p>User comments:</p>
    <ul class="list_of_comments">
    <% for (let j = 0; j < place.comments.length; j++) {%>
      <li><%= place.comments[j]%></li>
    <% } %>
    </ul>

    <%# Functionality to leave comments %>

    <% if (currentUser) {%>
      <form action="/travel/sessions/comments" method="POST">
        <input type="hidden" name="username" value="<%= currentUser.username%>" />
        <input type="hidden" name="user_id" value="<%= currentUser._id%>" />
        <input type="hidden" name="place_id" value="<%= place.id%>" />
        <label for="comment">Leave a comment:</label>
        <textarea class="u-full-width" placeholder="leave your comments here" name="comment" id="comment"></textarea>
        <input type="submit" value="submit" class="submit_comment"/>
      </form>
    <% } %>


  <%# Google Maps %>
  <div id="map"></div>
  </div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          // center: {lat: -34.397, lng: 150.644},
          center: {lat: <%= place.coordinates.lat%>, lng: <%= place.coordinates.lng%>},
          zoom: 8
        });
      }
    </script>

    <%# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt9kqAILeZXEdz846f3Yn3oJG84j4SkH8&callback=initMap" async defer></script> %>

    <script src=<%=url%> async defer></script>

  </body>
</html>
